*.pyc
*~
*#
*egg-info
*.so
*.bak
*.c
*.new
*.md5
*.old
*.DS_Store
docs/source/api
docs/api
docs/build
build
dist
skfuzzy/version.py
*.swp
.coverage
docs/source/auto_examples/*.py
docs/source/auto_examples/*.txt
docs/source/auto_examples/notebook
docs/source/auto_examples/images/plot_*.png
docs/source/auto_examples/images/thumb
docs/source/auto_examples/applications/
docs/source/_static/random.js
*.log
*.ipynb_checkpoints*
*_build*
docs/logo/*.png
docs/source/gitwash
.idea/
